[MASTER]
ignore=.git,__pycache__,build,dist,venv,.venv,env
max-line-length=100

[MESSAGES CONTROL]
disable=C0114,C0115,C0116,W503,E203

[FORMAT]
max-line-length=100

[REPORTS]
output-format=colorized

[BASIC]
good-names=i,j,k,ex,_,df,id,ok
